<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Effe - Blog</title>
<link rel="shortcut icon" href="favicon.ico" />
<!-- Load CSS -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!-- Load Fonts -->
<link rel="stylesheet" href="http://fonts.useso.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css" />
<link rel="stylesheet" href="http://fonts.useso.com/css?family=Droid+Sans:regular,bold" type="text/css" />
<!-- Load jQuery library -->
<script type="text/javascript" src="scripts/jquery-1.6.2.min.js"></script>
<!-- Load custom js -->
<script type="text/javascript" src="scripts/panelslide.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
<!-- Load topcontrol js -->
<script type="text/javascript" src="scripts/scrolltopcontrol.js"></script>
<!-- Load NIVO Slider -->
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-theme.css" type="text/css" media="screen" />
<script src="scripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script src="scripts/nivo-options.js" type="text/javascript"></script>
<!-- Load fancybox -->
<script type="text/javascript" src="scripts/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.mousewheel-3.0.4.pack.js"></script>
<link rel="stylesheet" href="css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
</head>
<body>
<!--This is the START of the header-->
<div id="topcontrol" style="position: fixed; bottom: 5px; left: 960px; opacity: 1; cursor: pointer;" title="Go to Top"></div>
<div id="header-wrapper">
  <div id="header">
    <div id="logo"><a href="index.html"><img src="images/logo.png" width="100" height="80" alt="logo" /></a></div>
    <div id="header-text">
      <h4>This is our blog, check out our latest posts!</h4>
      <h6><a href="index.html">Home</a> → Blog</h6>
    </div>
  </div>
</div>
<!--END of header-->
<!--This is the START of the menu-->
<div id="menu-wrapper">
  <div id="main-menu">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a class="selected" href="blog.html">Blog  →</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="features.html">Features</a></li>
    </ul>
  </div>
	<!--This is the START of the footer-->
	<div id="footer">
		<div id="social-box">
			<ul>
				<li>
					<div class="facebook"><a href="#"></a></div>
				</li>
				<li>
					<div class="twitter"><a href="#"></a></div>
				</li>
				<li>
					<div class="rss"><a href="#"></a></div>
				</li>
			</ul>
		</div>
		<h6>Copyright © 2011 - effe.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></h6>
	</div>
	<!--END of footer-->
</div>
<!--END of menu-->
<!--This is the START of the content-->
<div id="content">
  <!--This is the START of the blog section-->
  <div id="blog">
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="images/blog/thumbs/blog1.jpg" width="280" height="180" alt="blog1" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">6 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>This is our first juicy tidbit</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="images/blog/thumbs/blog2.jpg" width="280" height="180" alt="blog2" /></a>
      <div class="blog-item-content">
        <div class="blog-item-info">
          <div class="user">admin</div>
          <div class="comments">6 comments</div>
          <div class="tags">psd news blog post</div>
        </div>
        <a href="blog-single.html">
        <h5>Another one is here</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="images/blog/thumbs/blog3.jpg" width="280" height="180" alt="blog3" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">6 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>And this is the last of our blog</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="images/blog/thumbs/blog4.jpg" width="280" height="180" alt="blog4" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">3 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>Captain we need more power!</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div id="pagination"> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">...</a> <a href="#">→</a> </div>
  </div>
  <!--END of blog section-->
</div>
<!--END of content-->
<p class="slide"><a href="#" class="btn-slide"></a></p>
<div id="slide-panel">
	<!--This is the START of the follow section-->
	<div id="follow">
		<h3>Get Notified About My Newest Freebies & Upcoming Themes!</h3>
		<h5>
			<p>I do make some awesome freebies for you to use... All of them are FREE and pixel perfect!</p>
			<p>Thanks for showing me the support by subscribing, and I'll try not to disappoint you...</p>
		</h5>
		<img class="star-divider" src="images/subscribe_divider.png" /> <a href="http://www.twitter.com/92_five">
		<div id="follow-twitter"><img src="images/tweet_top.png" />
			<h4>Follow me on twitter</h4>
		</div>
		</a><a href="http://eepurl.com/dqtGj">
		<div id="follow-mail"><img src="images/mail_top.png" />
			<h4>Subscribe to my newsletter</h4>
		</div>
		</a>
		<h1>Thanks for that!</h1>
	</div>
	<!--END of follow section-->
</div>
</body>
</html>